.header{
    display: flex;
    padding: 6px 10px;
    background-color: #fa0;
}
.header .logo{
    display: inline-block;
    padding: 2px 0;
}
.header nav{
    text-align: right;
    width: 100%;
    font-size: 0;
}
.header nav a{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    line-height:52px ;
    padding: 0 10px;
}
.header nav a:hover{
    background-color:rgb(255, 255, 255);
}
.banner img{
    width: 100%;
    height: 500px;

}
.path{
    display: flex;
}
.path li{
    padding: 6px 8px;
    position: relative;
}
.path li a{
    color: #aaa;
    text-decoration: underline;
    font-size: 20px;
}
.path li+li::before{
    content: '/';
    color: #aaa;
    position: relative;
}
.item h3{
    font-size: 36px;
    margin: auto;
}
.about{
    background-color: rgba(231, 233, 233, 0.521);
    padding: 20px 90px 60px;

}
.wrap{
    width: 1200px;
    margin: auto;
    display: flex;
    text-align: center;
}
.about .wrap{

    padding: 0 10px;
}
.about .wrap .item{
    width: 700px;
    margin: 0 5px;
    text-align: center;
}
.about .item img{
    width: 100%;
    border-radius: 50%;
}
.about > h2{
    width: 1080px;
    text-align: right;
    font-size: 60px;
    padding: 20px 0px;
}
.about > p{
    width: 960px;
    font-size: 15px;
    margin: auto;
    text-align: auto;
    text-align: center;
    padding: 20px 0 40px;
    text-align: center;
}
.products{
    background-color: #ccc;

}
.products .wrap{
    display: flex;

}
.products .item{
    width: 50%;
  
}
.products img{
    width: 100%;
    height: 100%;
}
.products .pic{
    width: 50%;
}
.products .text{
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    text-align: center;
    justify-content: center;
}
.service{
    padding: 40px 0;
    background-color: #eee;
}
.service > h2{
    width: 960px;
    margin: auto;
    text-align: center;
    font-size: 42px;
    padding: 20px 0;
}

.service .wrap{
    display: flex;
}
.service .item{
    margin: 0 10px;
    width: 400px;
    text-align: center;
}

.service > p{
    text-align: center;
    padding: 10px 20px;
}
.service .item img{
    width: 100%;
    height: 50%;
    padding-bottom: 40px;
    padding: 10px;
}





.footer{
    text-align: center;
    background-color: #000;
    color: #888;
    padding: 20px 0;
}