.container3{
    background-color: #616161;
    width: 100%;
    height:2000px;
    display: flex;
    justify-content: center;
    font-family: SFPro,Arial,Noto Sans JP,Noto Sans KR,sans-serif;

}
.container3 .edge{

    width:100px;
    height:650px; 
    margin-bottom: 50px;
    margin-left: 10%;
    font-weight: 600;
}
.container3 .edge ul{
    text-align: center;
}
.container3 .edge ul li{
    height: 40px;
    width: 100px;
    border: 1px solid #000000;
    border-radius: 50px;
    margin: 15px 0px 15px 0px;
}
.container3 .edge ul li p{
    padding-top: 11px;
}

.bottom {

   
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    margin: 10px 40px;
    padding:0px 200px;

}
.bottom .itemC{
    background-color: rgb(255, 255, 255);
    box-shadow:1px 1px 5px 1px;
    width: 270px;
    height: 340px;
    padding: 10px;
    margin: 0px 10px;
}
.bottom .itemC img{
    margin: 20px 0px;
}
.bottom .itemC h4{
    margin: 20px 0px;
    font-size: 25px;
    font-weight: 700;
}
.bottom .itemC span{
    margin: 20px 0px;
    color: #616161;
}
.bottom .itemC div{
    margin-top: 90px;
    font-size: 25px;
    color: #d1d1d1;
}
