        .banner img{
            display: block;
            width: 960px;
            margin: auto;
        }
        .midP{
            display: block;
            width: 960px;
            text-align: center;
            font-size: 25px;
            margin: auto;
            padding: 20px;
            color:#666666;
        }
        ._wrap{
            width: 960px;
            display: block;
            margin: auto;
        }
        .midP1{
            display: block;
            margin: auto;
            border:2PX solid #FDDD00;
            width: 2%;
        }