.container{
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.container .item{
    width: 220px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
.container .item img{
    width: 100%;
}
.container .item .test{
    height: 130px;
    padding: 5px;
    text-align: center;
}
.container .item p{    
    height: 60px;
}
.container .item h3{
    height: 40px;
}
.container .item .test h3{
    color:#FDD000;
    font-size: 20px;
}
.container .item .test s{
    color: rgb(146, 146, 146);
    font-size: 17px;
}