*{   
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .wrap{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-width: 360px;
 }
.wrap nav{
     height:100%;
     width: 60%;
     z-index: 2;
     position: absolute;
     background-color: rgb(255, 255, 255);
     transform: translateX(200%);
     transition: 0.3s;
   
 }
 .wrap nav ul{
     padding: 40px;
     padding-top: 70px;
     text-align: center;
     box-sizing: border-box;
 }
 .wrap nav ul li  {
     padding-top: 10px;
     border-bottom: 2px solid rgba(0, 0, 0, 0.157);
 }
 .wrap nav ul li a{
     font-size: 21px;
     text-decoration: none;
     color: #212529;
 }
 .Top_nav{
     background-color: rgba(255, 127, 80, 0);
     position: absolute;       
     z-index: 3;
     align-items: center;
     width: 100%;
     height: 100%;
     padding: 10px;
 }

 .Top_nav-logo{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .Top_nav-logo h1 {
     color:#ffffff ;
     font-family: open sans,sans-serif;
     font-size: 23px;
     top: 0;
     bottom: 0;
     margin: auto;
     margin-left: 1rem;
 }
 .Top_nav img{
     width: 42px;
     height: 46px;
    
 }  
.wrap nav  label{
        display:flex;
        justify-content: flex-end;
         padding-right: 2rem;
        font-size: 35px;
        color: #000;
    
}
.wrap .lauguge{
    position: absolute;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    height: 62px;
}
.wrap .lauguge img{
    
    width: 40px;
    height: 25px;    
}
.wrap .lauguge span{
    display: inline-block;
    font-size: 18px;
    margin-left: 1rem;
}

.title{ 
    display: block;
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.top  span:nth-of-type(odd){
    color: #ffffff;
    font-size: 36px;
}
.top span:nth-of-type(even){
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
}
.top{
    margin-top: 15%;
    font-family: museo-w01-700,serif;
}
.bottom {
    margin-top:80%;
    width: 100%;
    height: 100%;
}
.bottom  a {
    display: inline-block;
    margin-top: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:4%;
    padding-right: 4%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #3d9ce983;

    
}

.bottom  a span {
    font-size: 17px;
    color: #ffffff;
}
label{
     color: #ffffff;
     font-size: 30px;
     top: 0;
     bottom: 0;
     margin-left: auto;
 }

input {
     display: none;

 }
 #burger:checked + nav{
     display: block;
     transform: translateX(70%);
     transition: 0.3s;

 }
 .top .exetra{
    background-color: #3d9ce983;
    padding:2% 4% 2% 4%;

    
 }
 .top .exetra span{
    font-size: 19px;

 }
 .top .i_top{
     display: block;
     margin-top: 10%;
 }
 .top .i_font span{
    font-size: 30px;
}