.swiper-slide{
    position: relative;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
} 
 .swiper-container {
    /* 設定幻燈片寬度跟高度 */
    width:100%;
    height: 100%;
  
 }
 .swiper-pagination{
     margin-bottom: 10px;
 }
 .swiper-button-white{
     margin-left: 10px;
     margin-right: 10px;
     opacity: 0.3;
     
 }