.footer{
    width: 880px;
    font-size: 22px;
    display: flex;
    color: #666666;
    text-align: center;
    margin: auto;
    padding: 40px;
}

.footer .about1{
    display: block;
    padding: 0px 180px 0px 0px;
    text-align: left;
}
.footer .about2{
    display: block;
    padding: 0px 0px 0px 120px;
    text-align: left;
    
}
.footer .st{
    padding: 6px;
}

.footer .about1 .strong{
    font-size: 23;
    color: #000;
    padding: 6px;
}
.footer .about2 .strong1{
    color: #000;
    padding: 6px;
}