.container2{
    width: 1100px;
    height: 800px;
    margin-top: 520px;

  
}
.title{
    margin-left: 750px;
    width: 350px;
    height: 400px;
    background-color: rgba(187, 4,4, 1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index:-1 ;
}
.title1{
    margin-top: -129px;
}
.title1 p{
    width:130px;
    text-align: center;
    font-size: 130px;
    line-height: 100%;
    color: #ffffff;
    transform: rotate(90deg);

    
}

.title2{
    margin-top: -10px;
    margin-right: 6px;
}
.title2 p{
    margin-bottom: 10px;
    width: 209px;
    height: 60px;   
    font-size: 50px;
    line-height: 60px;
    color: rgb(255, 255, 255);
}
.title3{          
    width: 330px;
    height: 210px;
    background-color: #000;
    padding-top:  10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 750px;
    margin-top: -20%;
    font-size: 20px;
}
.title3 p{
    color: rgb(255, 255, 255);
}
.car{
    margin-left: 150px;
    margin-top: -20%;
    position: absolute;
    z-index: -1;
    
}
.car .peo{
    width: 698px;
    height: 430px;
}
.car .yt{
    display: block;
    margin-top: -250px;
    margin-left: -10px;

}

.wrap{
    width: 600px;
    height: 400px;
    background-color: #e2e1e1;
    margin-top: -300px;
    margin-left: 300px;
    position: absolute;
    z-index:-2;
}

.wrap1{
    width: 682px;
    height: 200px;
    background-color: #e2e1e1;
    margin-top: 165px;
    margin-left: 390px;
    padding: 0px 10px;
}
.wrap1 h2{
    padding-top: 5px;
    color:#bb0404;
    font-size: 20px;
    margin-top: 5px;
}
.wrap1 h2::after{
    display: inline-block;
    content: "";
    width: 460px;
    border-bottom: 1px solid #bb0404;
    margin-bottom: 6px;
}
.wrap1 p{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100px;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;

}
.wrap1 li{
    color: #686767;
    font-weight: 700;
    list-style: none;
    margin-bottom: 5px;
}
.wrap1 .be ::before{
    content: "▪   ";
    color: red;
}
.wrap1 span{
    color: #bb0404;
}