div .head{
    width: 960px;
}
div .icon {
    position: relative;
    height: 200px;
    font-size: 16px;
    color: #000;
    background-image: url(/bar.webp);
    background-size: 100%;
    
}
div .icon .title{
    position: absolute;
    top: 60%;
    right: 30%;
    margin: 10px;
    display: flex;
}
div .icon li{
    margin: 10px;
}
div .icon img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20%;
    right: 52%;
}
select{
    width: 100px;
    border: none;
    background: none;
    font-size: 16px;
}
.banner{
    width: 100%;
}