.heading{
    background-image: url(/600x\ \(105\).png);
    width: 960px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;   
    position: relative; 
}
.heading .list{  
    height: 50px;
    margin: 17% auto;         
    z-index: 1;
}
.heading .logo {
    position: absolute;
    width: 100px;
    height: 90px;
    z-index: 2;
    margin:8% 45%;
}
.heading .list .wrap{
    display: inline;
    padding: 10px;
    bottom: 50% ;  
}